# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android specific
/android/app/debug
/android/app/profile
/android/app/release
android/key.properties
*.jks
*.keystore
*.p12
*.apk
*.aab

# iOS/macOS specific
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
macos/Pods/
macos/.symlinks/
macos/Flutter/ephemeral/
macos/Flutter/Flutter.framework
*.xcworkspace
*.xcuserstate
*.xcuserdatad
DerivedData/

# Obfuscation and symbolication
app.*.symbols
app.*.map.json
